.vs/Squad-Exporter/v17/Solution.VC.db
.vs/Squad-Exporter/v17/ipch/AutoPCH/f60aa308342d8b1d/PLUGINDEFINITION.ipch
.vs/Squad-Exporter/v17/ipch/AutoPCH/c9caaffc71ac5eb0/GOTOLINEDLG.ipch
.vs/Squad-Exporter/v17/ipch/AutoPCH/a6386c0c74afab7d/NPPPLUGINDEMO.ipch
.vs/Squad-Exporter/v17/ipch/AutoPCH/3e938f27691b1009/TMP41D4.TMP.ipch
.vs/Squad-Exporter/v17/DocumentLayout.json
.vs/Squad-Exporter/v17/DocumentLayout.backup.json
.vs/Squad-Exporter/v17/Browse.VC.opendb
.vs/Squad-Exporter/v17/Browse.VC.db-wal
.vs/Squad-Exporter/v17/Browse.VC.db-shm
.vs/Squad-Exporter/v17/Browse.VC.db
.vs/Squad-Exporter/v17/.suo
.vs/Squad-Exporter/FileContentIndex/ca0e0a5a-a7a7-4e41-9cd4-833b0b8d23ab.vsidx
.vs/Squad-Exporter/FileContentIndex/91fd817f-edf0-44cb-bd4e-69a4f3acd0f6.vsidx
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/Squad-Exporter/copilot-chat/55358f41/sessions/1e9b9712-8dee-4710-8612-009f55b433dd
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/Squad-Exporter/FileContentIndex/6d5ff3be-c949-47d6-a156-da23b0988da9.vsidx
