.vs/Squad-Exporter/v17/Solution.VC.db
.vs/Squad-Exporter/v17/ipch/AutoPCH/f60aa308342d8b1d/PLUGINDEFINITION.ipch
.vs/Squad-Exporter/v17/ipch/AutoPCH/c9caaffc71ac5eb0/GOTOLINEDLG.ipch
.vs/Squad-Exporter/v17/ipch/AutoPCH/a6386c0c74afab7d/NPPPLUGINDEMO.ipch
.vs/Squad-Exporter/v17/ipch/AutoPCH/3e938f27691b1009/TMP41D4.TMP.ipch
.vs/Squad-Exporter/v17/DocumentLayout.json
.vs/Squad-Exporter/v17/DocumentLayout.backup.json
.vs/Squad-Exporter/v17/Browse.VC.opendb
.vs/Squad-Exporter/v17/Browse.VC.db-wal
.vs/Squad-Exporter/v17/Browse.VC.db-shm
.vs/Squad-Exporter/v17/Browse.VC.db
.vs/Squad-Exporter/v17/.suo
.vs/Squad-Exporter/FileContentIndex/ca0e0a5a-a7a7-4e41-9cd4-833b0b8d23ab.vsidx
.vs/Squad-Exporter/FileContentIndex/91fd817f-edf0-44cb-bd4e-69a4f3acd0f6.vsidx
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/Squad-Exporter/copilot-chat/55358f41/sessions/1e9b9712-8dee-4710-8612-009f55b433dd
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/Squad-Exporter/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/Squad-Exporter/FileContentIndex/6d5ff3be-c949-47d6-a156-da23b0988da9.vsidx
x64/Debug/Squad-Exporter.pdb
x64/Debug/Squad-Exporter.dll
Squad-Exporter/x64/Debug/vc143.pdb
Squad-Exporter/x64/Debug/vc143.idb
Squad-Exporter/x64/Debug/StaticDialog.obj
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/link.read.1.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/CL.write.1.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/CL.read.1.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.log
Squad-Exporter/x64/Debug/Squad-Exporter.ilk
Squad-Exporter/x64/Debug/PluginDefinition.obj
Squad-Exporter/x64/Debug/NppPluginDemo.obj
Squad-Exporter/x64/Debug/GoToLineDlg.obj
.vs/Squad-Exporter/v17/ipch/AutoPCH/de21f8955f32c0f5/TMPE824.TMP.ipch
.vs/Squad-Exporter/FileContentIndex/456ec3b8-5a2e-4ade-9aa0-dd7affc9d32a.vsidx
.vs/Squad-Exporter/FileContentIndex/5862b674-2ae1-4a48-b68c-8faa7b9a50ca.vsidx
.vs/Squad-Exporter/FileContentIndex/7a295a5a-f33b-45b5-8534-db05b7fec6e8.vsidx
.vs/Squad-Exporter/FileContentIndex/da350874-c455-4236-96c7-d3a82b8c4b34.vsidx
.vs/Squad-Exporter/FileContentIndex/da73b088-5571-4979-8ebb-dbddde6d2dfe.vsidx
Squad-Exporter/x64/Debug/GoToLineDlg.obj
Squad-Exporter/x64/Debug/NppPluginDemo.obj
Squad-Exporter/x64/Debug/PluginDefinition.obj
Squad-Exporter/x64/Debug/Squad-Exporter.ilk
Squad-Exporter/x64/Debug/Squad-Exporter.log
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/CL.read.1.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/CL.write.1.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/link.read.1.tlog
Squad-Exporter/x64/Debug/StaticDialog.obj
Squad-Exporter/x64/Debug/vc143.idb
Squad-Exporter/x64/Debug/vc143.pdb
Squad-Exporter/x64/Debug/vc143.pdb
Squad-Exporter/x64/Debug/vc143.idb
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/link.read.1.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/CL.write.1.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.tlog/CL.read.1.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.log
Squad-Exporter/x64/Debug/Squad-Exporter.ilk
Squad-Exporter/x64/Debug/PluginDefinition.obj
.vs/Squad-Exporter/FileContentIndex/57f343ad-9a66-4b4a-954b-3875472f666a.vsidx
x64/Debug/Squad-Exporter.pdb
.vs/Squad-Exporter/FileContentIndex/fbb22dad-0a0f-48a6-baa5-590702105ac1.vsidx
.vs/Squad-Exporter/v17/ipch/AutoPCH/bfc6591f6e672b86/TMP1EDA.TMP.ipch
Squad-Exporter/x64/Debug/PluginDefinition.obj
Squad-Exporter/x64/Debug/Squad-Exporter.ilk
Squad-Exporter/x64/Debug/Squad-Exporter.log
Squad-Exporter/x64/Debug/vc143.idb
Squad-Exporter/x64/Debug/vc143.pdb
Squad-Exporter/x64/Debug/vc143.pdb
Squad-Exporter/x64/Debug/vc143.idb
Squad-Exporter/x64/Debug/Squad-Exporter.log
Squad-Exporter/x64/Debug/Squad-Exporter.ilk
Squad-Exporter/x64/Debug/PluginDefinition.obj
x64/Debug/Squad-Exporter.pdb
.vs/Squad-Exporter/FileContentIndex/33bf3ff2-cfa2-4201-a9c4-390f87ba0152.vsidx
*.ipch
*.vsidx
.vs/Squad-Exporter/copilot-chat/55358f41/sessions/23cd1e5a-ee05-4630-963f-9962f012b3fe
.vs/Squad-Exporter/copilot-chat/55358f41/sessions/a7e7fd2d-1389-4a66-ad72-302c48392f03
.vs/Squad-Exporter/copilot-chat/55358f41/sessions/d62dff43-7c10-48ba-bcf9-da0e2c598c48
*.obj
*.json
*.command
*.log
*.recipe
*.tlog
Squad-Exporter/x64/Debug/Squad-Exporter.vcxproj.FileListAbsolute.txt
*.exe
